@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body > header {
    background-image: linear-gradient(to top, gray, black);
    padding: 16px 0;
}

h1 {
    color: white;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    margin-left: 16px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover, .articles article a:hover {
    text-decoration: underline;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2, .articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.articles article a {
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1);
}

#sports .articles article a {
    background-color: green;
}

#economy {
    background-color: rgba(255, 255, 0, 0.39);
}

#economy .articles article a {
    background-color: goldenrod;
}

#tech {
    background-color: rgba(0, 132, 255, 0.185);
}

#games {
    background-color: rgba(255, 0, 0, 0.295);
}

#games .articles article a {
    background-color: red;
}

